<div id="<%= dom_id novel %>">
  <p>
    <strong>Author:</strong>
    <%= novel.author %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= novel.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= novel.description %>
  </p>

</div>
