

<table class="table">
<thead>
  <tr>
    <th scope="col">Author</th>
      <th scope="col">Title</th>
    <th scope="col">Handle</th>
  </tr>
</thead>
<tbody>
  <% @novels.each do |novel| %>
      <tr>
        <td><%= novel.author %></td>
          <td><%= novel.title %></td>
        <td><%= novel.description %></td>
    </tr>
  </tbody>
<% end %>
</table>
<%= link_to 'Add Novel', new_novel_path, class:"btn btn-secondary" %>
